<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abdul Ali's Portfolio</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.16/dist/tailwind.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="css/home.css"
    />
  </head>
  <body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
      <div class="container mx-auto px-6 py-3">
        <div class="flex justify-between items-center">
          <a class="font-bold text-xl text-gray-800" href="#">Abdul Ali's Portfolio</a>
          <div class="flex items-center">
            <a class="text-gray-800 font-medium hover:text-blue-500 font-bold text-blue-500" href="/">Home</a>
            <a class="text-gray-800 font-medium mr-3 hover:text-blue-500" href="/Projects">Projects</a>
            <a class="text-gray-800 font-medium mr-3 hover:text-blue-500" href="/Education">Education</a>
            <a class="text-gray-800 font-medium mr-3 hover:text-blue-500" href="/Certifications">Certifications</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container mx-auto px-6 py-8">
      <h1 class="text-4xl font-bold text-gray-800 mb-4">Abdul Ali Khan.</h1>
      <p class="text-lg text-gray-700 leading-7 mb-4">
        I'm a Computer Science undergrad based in Karachi, Pakistan.
      </p>
      <p class="text-lg text-gray-700 leading-7 mb-4">
        I love building (and occasionally designing) things for the web.
        Currently, I'm focused on learning how backend engineering works.
      </p>
      <div class="bg-black rounded-lg p-3 mb-6">
        <div class="terminal-output h-64 overflow-y-auto"></div>
        <span class="text-green-500">$ </span>
        <input type="text" id="command-input" placeholder="Type a command here" class="bg-black text-green-500 outline-none ml-1 w-60">
      </div>
      <p class="text-lg text-gray-700 leading-7 mb-4">
        Try typing "help" for a list of available commands.
      </p>         
      <a href="mailto:k190128@nu.edu.pk"
          class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded inline-flex items-center">
        <span class="mr-2"><i class="far fa-envelope"></i></span>
        Send me an Email
      </a>
    </div>    
    
    <script src="js/terminal.js"></script>
  </body>
</html>
